@mixin site-btn($width) {
    width: $width;
    height: 51px;
    border-radius: 100px;
    background-color: $main-color;
    border: 2px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
        border-color: $main-color;
        background-color: transparent;
        color: $main-color;
    }

}