.site-header {
    width: 100%;
    background-image: url(../images/site-bg-2.png);
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}
.header__logo-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}
.navbar {
    display: flex;
    gap: 40px;
}
.navbar__link {
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 1px;
    text-align: left; 
    transition: color 0.3s;
    
    &:hover {
        color: $main-color;
    }
    &:active {
        opacity: 0.7;
    }
}